.spreadsheet--cell.border.border-dotted.border-gray-300.p-0.text-sm.p-1{class: component_classnames, tabindex: 0, data: data, draggable: true }
  .spreadsheet--cell-display.p-1.w-full.mt-auto{class: numeric_class, data: { target: "spreadsheet--cell.display", action: "dblclick->spreadsheet--cell#showInput"}}
    %sl-tooltip{ content: error, trigger: "manual" }
      .inline-block.searchable
        = content
      - if expander
        %sl-icon.collapse-control.inline-block.transform.transition-transform.duration-200.ease-in.cursor-pointer(name="caret-down-fill"){ data: { action: "click->spreadsheet--row-group#collapse" }}

  - unless readonly
    %input.bg-white.text-black.w-full.p-1.hidden{ type: "text", value: value, class: numeric_class, disabled: disabled, readonly: readonly, data: input_data }
