.spreadsheet--row.grid.grid-flow-col.grid-cols-auto.relative.gap-0.auto-cols-fr.pl-3.pr-8{class: component_classnames,
  data: { controller: "spreadsheet--row", action: "mousedown->spreadsheet--row#highlight",  nesting_level: nesting_level }, draggable: draggable }
  %sl-checkbox.absolute.p-2.row-checkbox.hidden(name="grip-horizontal"){ data: { target: "spreadsheet--row.checkbox", action: "click->spreadsheet--row#selectRow"}}
  - if draghandle
    %sl-icon.absolute.p-2.text-gray-500.draghandle.cursor-move(name="grip-horizontal")
  = content

  %sl-dropdown.absolute.p-2.inset-y-0.right-0.min-h-full
    %sl-icon.absolute.p-2.text-gray-500.inset-y-0.right-0.row_actionmenu.cursor-pointer(name="three-dots" slot="trigger")
    %sl-menu.text-xs
      %sl-menu-item
        .grid.grid-flow-col.grid-cols-auto{ data: { action: "click->spreadsheet--row#toggleSelectionMode" }}
          .text-xs.text-right.col-span-8.mr-2 Select
          %sl-icon.text-xs.col-span-1.p-1(name="pencil-square")
      = actions_menu
